NEXT_PUBLIC_SUPABASE_URL=https://ushhacwtmpmwmvpaitdx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_BjmX7OXzNKdHvMRRUiUdDg_pOepdIEB
Q26_AUTH_SECRET=troca-este-valor-por-um-segredo-longo
Q26_INSTALLER_SECRET=troca-este-valor-por-um-segredo-so-do-instalador
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BACKUP_BUCKET=q26-backups
